{% extends "core/base.html" %}

{% load static %}

{% block title %}
Patient Details: {{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }}
{% endblock %}

{% block content %}
<div id="root"></div>
{% endblock %}

{% block extra_js %}

<script src="{% static 'js/patient_detail.bundle.js' %}"></script>
<script>
  patient_detail.render({
    'pt_pk': {{ patient.id }},
    'displayReferrals': {{ settings.OSLER_DISPLAY_REFERRALS|yesno:'true,false' }},
    'displayCaseManagers': {{ settings.OSLER_DISPLAY_CASE_MANAGERS|yesno:'true,false' }},
    'displayAppointments': {{ settings.OSLER_DISPLAY_APPOINTMENTS|yesno:'true,false' }},
    'displayVaccine': {{ settings.OSLER_DISPLAY_VACCINE|yesno:'true,false' }},
    'displayFollowup': {{ settings.OSLER_DISPLAY_FOLLOWUP|yesno:'true,false' }},
    // 'upload_document_url': {{ patient.upload_document_url }},
    // ^ above is just proof of concept that the urls could be passed this way instead of via the api
  })
</script>

{% endblock %}